html {
    box-sizing: border-box;
    background: #eeeeee;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
    text-align: center;
    height: 20vh;
    background: white bottom center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-wrap {
    background: #eeeeee;
    padding: 40px;
    text-align: center;
    max-width: 700px;
    margin: 70px auto;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
}

h1 {
    color: white;
    font-size: 50px;
    text-shadow: 3px 4px 0 rgba(0,0,0,0.2);
}

nav {
    background: black;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: inline-block;
    transition: all 0.2s;
}

li.logo {
    max-width: 0;
    overflow: hidden;
    background: white;
    transition: all .5s;
}

.fix-nav nav {
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);

}

.fix-nav li.logo {
    max-width: 500px;
}

li.logo a{
    color: black;
}

li.logo img {
width: 30px;
height: 30px;
object-fit: cover;
}

.footer-basic {
    padding: 40px 0;
    background-color: #eeeeee;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .socials {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .socials > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;

}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    
    background-color: black;
    cursor: pointer;
    font-size: 24px;
    color: white;
    transition: all 0.3s;
    position: relative;
  
    text-align: center;
    overflow: hidden;
  
    border-radius: 5px;
    box-shadow: 0 6px 30px -10px rgba(#CCCCCC, 1);
  }

  .btn:hover {
    transform: translateX(5px) translateY(-7px);
  }